.wrapper {
  height: 500px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cloudimage-360 {
  grid-column: 3;
  grid-row: 2;

}
